* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-image: url("../img/6.png");
    background-size: cover;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;

  }


button{

  border-radius:25px;
  color: white;
  background-color:black;
  
  font-family: Arial;
  font-size: 17px;
  


}
 a  {
   text-decoration: none;

 }
 #button-1{
  
  margin-left:14.1%;
  padding: 1%;
  width:7%;
  margin-bottom: 10%; 

  

}
 #button-2{
  
  margin-left:17%;
  padding: 1%;
  width:7%;
  margin-bottom: 10%; 

 }
 #button-3{
  margin-left:19%;
  padding: 1%;
  width:7%;

 }
 img{
  border-radius:25px;
  border:0;
  
 
  
 }

 #backarrow{
	font-size: 46px;
    color: black;
    position: absolute;
    top: 18px;
    left: 29px;
}
#backarrow{

  color: aliceblue;
}
 