body{
    overflow: hidden;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}


#canvas1{
    background: linear-gradient(to bottom,lightblue,darkblue,black);
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    /* width: auto;
    height: 100vh; */
}

img{
    position: absolute;
}


#start-popup-desc{
    width: 684px;
    height: 434px;
    /* text-align: center; */
    margin: 94px auto;
    background-color: gainsboro;
    z-index: 1;
    /* display: none; */
}